<h3 class="ImportPanel-headerTitle">
  <% if (state === 'selected') { %>
    File selected
  <% } else { %>
    Upload Dataset
  <% } %>
</h3>
<p class="ImportPanel-headerDescription">
  <% if (state !== "selected") { %>
    <% if (fileEnabled) { %>Select a file like CSV, XLS, ZIP, KML, GPX<% } %>
  <% } %>
</p>
<% if (state === "selected") { %>
  <button class="NavButton NavButton--back ImportPanel-headerButton js-back">
    <i class="CDB-IconFont CDB-IconFont-arrowPrev"></i>
  </button>
<% } %>
