<div class="DatasetInfoTooltip">
<b>Source:</b> <%= source %><br>
<% if ($.inArray("bbg_pro_ui", user_data.feature_flags) !== -1) { %>
  <b>Exportable:</b> <%= exportable %><br>
  <b>Geom Exportable:</b> <%= export_geom %><br>
<% } %>
</div>