<div class="DatasetsTableCell"><div class="RowCheckbox"></div></div>
<div class="DatasetsTableCell">
  <%
    var q = routerModel.get('q');
    var startPos = q != '' ? title.toLowerCase().indexOf(q.toLowerCase()) : -1;

    if (startPos != -1) {
      var qLen = q.length;
      title = title.substr(0, startPos) + '<span class="found-sub">' + title.substr(startPos, qLen) + '</span>' + title.substr(startPos + qLen);
    }

    if (type == "table" && $.inArray("bbg_pro_ui", user_data.feature_flags) !== -1) { %>
      <a href="<%- datasetUrl %>" class="DatasetTitle-link"><%= title %></a>
  <% } else { %>
    <%= title %>
  <% } %>
</div>
<div class="DatasetsTableCell"><div class="DatasetsList-itemDescription js-item-description"></div></div>
<div class="DatasetsTableCell"><div class="DatasetsList-itemDescription js-item-source"></div></div>
<div class="DatasetsTableCell">
  <span class="js-likes-indicator" />
</div>