<div class="Dialog-header Dialog-header--expanded CreateDialog-header with-separator">
  <ul class="CreateDialog-headerSteps">
    <li class="CreateDialog-headerStep is-selected">
      <p class="Dialog-headerTitle">Browse Datasets</p>
    </li>
  </ul>
</div>
<div class="js-content-container Dialog-body Dialog-body--expanded Dialog-body--create Dialog-body--noPaddingTop Dialog-body--withoutBorder"></div>
<div class="Dialog-footer Dialog-footer--expanded CreateDialog-footer js-footer"></div>