@import "../variables/colors";
// Content controller
// 
// Main view for new dashboard, where maps or
// datasets results appear.
// --------------------------------------------------

.ContentController {
  background-color: $DarkGrey6;
  position: relative;
  display: block;
  min-height: 600px;
  margin: 0 auto;
  top: 40px;
  padding: 5px;
  display: flex;
  height: 100%;

  .RightContent {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    background: $Black;
    margin-left: 5px;
    .IntermediateInfo {
      min-height: 180px;
    }
  }

  .ContentList {
    background-color: $DarkGrey9;
    flex: 1 1 auto;
    .found-sub {
      font-weight: bold;
      color: $Grey1;
    }
  }

  .SearchBar {    
    .search-bar-input {
      color: black;
      width:100%;
      height:25px;
      line-height:25px;
    }
  }
}

.ContentController.on-boarding { 
  padding-top: 0;
  min-height: initial;
}

