@import "../variables/mixins";
@import "../variables/colors";
@import "../variables/sizes";


.LeftMenu {
  flex-shrink: 0;
  width: 200px;
  border-right: 1px solid $Black;
  background-color: $DarkGrey6;

} 

.LeftMenuContent {
  .MenuItem {
    cursor:pointer;
    padding: 0px 12px;
    color: $Grey3;
    line-height: 23px;
    &:hover {
      background-color: #292929;
    }
    &.selected {
      background: #1E6AB4;
      color: $White;
    }
    &.expanded .ParentChevron {
      background-image: url('../images/beam_dropdown_right.png');
    }
  }

  a {
    color: inherit;
  }
}
.CategoryTree {
  .SubCategories {
    display: none;
    &.expanded {
      display: block;
    }
  }
  .SubCategory {
    margin-left:30px;
  }
  .ChevronPlaceholder {
    display:inline-block;
    width:12px;
    height:12px;
    margin-right:5px;
  }
  .ParentChevron {
    display:inline-block;
    cursor:pointer;
    width:12px;
    height:12px;
    margin-right:5px;
    background-image: url('../images/beam_dropdown_arrow_down.png');
    background-repeat: no-repeat;
  }
  .CategoryCount { 
    float: right;
  }
}


//bloomberg styles 

.blp-navigator {
  background: #1e1e1e;
}

.blp-navigator-category {
  color: $White;
  padding: 0px 12px;
}

.blp-navigator-item {
  cursor: pointer;
  padding: 0px 12px;
  color: $Grey3;
  line-height: 23px;

  &:hover {
    background-color: $DarkGrey3;
  }


  &.blp-selected {
      background: #1E6AB4;
  }
}