<div class="CreateDialog-footerInner ">
  <div class="js-footer-info CreateDialog-footerInfo">
  </div>
  <div class="CreateDialog-footerActions js-footerActions">
    <div class="CreateDialog-footerActions-left">
        <button class="js-upload Button Button--positive">
          <span>Upload</span>
        </button>
    </div>
    <div class="CreateDialog-footerActions-right">
        <button class="js-ok Button Button--positive <%- canFinish ? '' : 'is-disabled' %>">
          <span>Add to Map</span>
        </button>
        <button class="js-cancel Button Button--positive">
          <span>Cancel</span>
        </button>
    </div>
  </div>
</div>
