<div class="ui-datepicker-div"></div>
<a href="#remove" class="remove"></a>

<div class="header">
  <div class="title">
    <a class="toggleButton" style="float:left; margin-right:3px" href="#">'toggle'</a>
    <p class='range-text'></p>
    <strong class="legend">
      <%if (alias) { %>  
        <%- alias %>:
      <% } else { %>
        <%- legend %>:
      <% } %>
    </strong>
    <div class="empty">This column is empty</div>
    <div class="only">This column has one unique value</div>

    <div class="range-number">
        <input type="number" class="min" /> - <input type="number" class="max" />
        <br />
        <!--span class="subtext">Hit 'Enter' to save...</span-->
    </div>
    <div class="range-date-text"></div>
    <div class="range">
      <input type="text" class="date-min" /> - <input type="text" class="date-max" /><button class="ui-open-calendar">cal</button><a href="#" class="ui-close-calendar">Close</a>
    </div>
  </div>
</div>

<div class="hist <%- cid %>"></div>
