@import "../variables/colors";
// Content controller
// 
// Main view for new dashboard, where maps or
// datasets results appear.
// --------------------------------------------------

.ContentController {
  padding: 5px;
  display: flex;
  height: calc(100% - 40px);
}

.RightContent {
  height: 100%;
  flex: 1 1 auto;
  background: $Black;
  margin-left: 5px;

  .ContentList {
    background-color: $DarkGrey9;
    height: calc(100% - 25px);
    flex: 1 1 auto;
    .ContentListContainer {
      height: 100%;
      &.is-hidden {
        display: none;
      }
    }
    .found-sub {
      font-weight: bold;
      color: $Grey1;
    }
    &.is-hidden {
      display: none;
    }
  }

  .SearchBar {
    .search-bar-input {
      color: black;
      width: 100%;
      height:25px;
      line-height:25px;
      &::-webkit-search-cancel-button {
        cursor: default;
        position:relative;
        right: -5px;
        background: $DarkGrey9 url(../images/close_layer.png) no-repeat center;
        width: 17px;
        height: 17px;
        &:hover {
          background-color: $DarkGrey1;
        }
      }
    }
  }

  .IntermediateInfo {
    min-height: 180px;
    width: auto;
  }
}

.ContentController.on-boarding { 
  padding-top: 0;
  min-height: initial;
}

