@import "../variables/colors";
// Content controller
// 
// Main view for new dashboard, where maps or
// datasets results appear.
// --------------------------------------------------

.ContentController {
  background-color: $DarkGrey6;
  position: relative;
  display: block;
  min-height: 600px;
  margin: 0 auto;
  top: 40px;
  padding: 5px;
  display: flex;
  height: calc(100% - 40px);
}

.RightContent {
  height: 100%;
  flex: 1 1 auto;
  background: $Black;
  margin-left: 5px;

  .ContentList {
    background-color: $DarkGrey9;
    height: calc(100% - 25px);
    flex: 1 1 auto;
    .ContentListContainer {
      height: 100%;
      &.is-hidden {
        display: none;
      }
    }
    .found-sub {
      font-weight: bold;
      color: $Grey1;
    }
    &.is-hidden {
      display: none;
    }
  }

  .SearchBar {
    .search-bar-input {
      color: black;
      width:100%;
      height:25px;
      line-height:25px;
    }
  }

  .IntermediateInfo {
    min-height: 180px;
  }
}

.ContentController.on-boarding { 
  padding-top: 0;
  min-height: initial;
}

