// Default description for datasets and maps
// --------------------------------------------------

@import "../variables/colors";
@import "../variables/sizes";
@import "../variables/mixins";

.DefaultDescription {
  font-size: $sFontSize-normal;  
  line-height: $sLineHeight-normal;
  color: $Amber1;
  overflow-wrap: break-word;
  position: relative;
}
.DefaultDescription > * {
  margin: 0;
  padding: 0;
}
.DefaultDescription--error {
  color: $cHighlight-negative;
}
