// Default description for datasets and maps
// --------------------------------------------------

@import "../variables/colors";
@import "../variables/sizes";
@import "../variables/mixins";

.DefaultDescription {
  font-size: $sFontSize-normal;  
  line-height: $sLineHeight-normal;
  color: $nAmber5;
  overflow-wrap: break-word;
  position: relative;

  &.disabled {
    color: $nGrey4;
    cursor: default;
  }
}
.DefaultDescription > * {
  margin: 0;
  padding: 0;
  font-weight: $sFontWeight-normal;
  font-size: $sFontSize-normal;
}
.DefaultDescription--error {
  color: $cHighlight-negative;
}
