// Likes indicator (12♥)
// --------------------------------------------------

@import '../variables/colors';
@import '../variables/mixins';
@import '../variables/sizes';

$cLiked: #D93F56;

.LikesIndicator {
  color: $nGrey9;
}
.LikesIndicator-count {
  display: inline-block;
  margin: 0 0 0 5px;
  vertical-align: top; 
}
.LikesIndicator-icon {
  width: 13px;
  height: 13px;
  background-image: url('../images/favorite_disabled.svg');
  background-repeat: no-repeat;
}
.LikesIndicator-icon.LikesIndicator-icon--big {
  font-size: $sFontSize-largest;
}
.LikesIndicator.is-likeable {
  cursor: pointer;
  .LikesIndicator-icon {
    background-image: url('../images/favorite_off.svg');
  }
}
.LikesIndicator.is-likeable:hover {
  color: $cTypography-paragraphs;
  text-decoration: none;
  .LikesIndicator-icon {
    color: $cLiked;
    background-image: url('../images/favorite_on.svg');
  }
}
.LikesIndicator.is-liked {
  color: $cLiked;
  .LikesIndicator-icon {
    color: $cLiked;
    background-image: url('../images/favorite_on.svg');
  }
  &:hover {
    color: $cLiked;
  }
}
.LikesIndicator.is-animated {
  .LikesIndicator-icon {
    @include animation(pulse 400ms both ease-in);
  }
}
@include keyframes(pulse) {
  0% {
    @include transforms(scale(1));
  }
  25% {
    @include transforms(scale(1.3));
  }
  50% {
    @include transforms(scale(0.8));
  }
  75% {
    @include transforms(scale(1.3));
  }
  100% {
    @include transforms(scale(1));
  }
}

