@import "../variables/colors";
@import "../variables/sizes";

.NoResults {
  font-size: $sFontSize-normal;
  line-height: $sLineHeight-normal;
  color: $nGrey9;
  &:hover { 
	color: $nGrey9;
	text-decoration: none; 
	}
}
 