@import "../variables/mixins";
@import "../variables/colors";
@import "../variables/sizes";

// A set of .TabLink where only the edge tabs have a border-radius
.TabsPanel {
  & > .TabLink {
    border-radius: 0;
    &:first-child {
      border-top-left-radius: $sCard-borderRadius;
      border-bottom-left-radius: $sCard-borderRadius;
    }
    &:last-child {
      border-top-right-radius: $sCard-borderRadius;
      border-bottom-right-radius: $sCard-borderRadius;
    }
  }
}

.TabLink {
  display: block;
  width: 138px;
  height: 38px;
  padding: 0 10px;
  background-color: $DarkGrey1;
  border: 1px solid $Black;
  box-shadow: $button_shadow;
  line-height: 38px;
  color: $Grey2;
  font-size: 14px;
  cursor: pointer;
  &:first-child {
    border-radius: 2px 0px 0px 2px; 
  }
  &:last-child {
    border-radius: 0px 2px 2px 0px;
  }

  &:hover {
    background-color: $tabBgHover;
    box-shadow:$button_shadow_hover;
    text-decoration: none;
  }
}
.TabLink:hover {
  border-color: rgba(#BBD7F2, 1);
}
.is-selected > .TabLink,
.is-selected > .TabLink:hover,
.TabLink.selected,
.TabLink.selected:hover {
  background: $tabBgSelected;
  box-shadow: $button_shadow_press;
  color: $Grey1;
  cursor: default;
}
.TabLink.selected,
.TabLink.selected:hover {
}
.TabLink.TabLink--positive.selected,
.TabLink.TabLink--positive.selected:hover {
  border-color: rgba(#BBD7F2, 1);
}
.TabLink.disabled {
  opacity: .4;
  background: $btn_background_disabled;
  box-shadow: $button_shadow_disabled;
  color: $color_disabled_text;
  pointer-events: none;
}
.TabLink.TabLink--textCenterUpcase {
  text-transform: uppercase;
  text-align: center;
  color: $cTypography-paragraphs;
  &.selected,
  &.selected:hover {
    background: $cCard-selectedFill;
    border-color: $cCard-selectedBorder;
    color: $cTypography-paragraphs;
  }
}
.TabLink.arcgis {
  width: 160px;
}
.TabLink.box {
  width: auto;
  height: auto;
  margin: 0;
  display: block;
}


// Tab icons
.TabIcon {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  margin: 0 6px 3px 0;
  @include background(image-url("layout/new_import_icons.png") no-repeat 0 0);
}
.TabIcon.is-scratch {
  width: 18px;
  background-position: 0 0;
}
.TabLink.selected .TabIcon.is-scratch,
.TabLink:hover .TabIcon.is-scratch { background-position: 0 -20px }
.TabLink.disabled .TabIcon.is-scratch,
.TabLink.disabled:hover .TabIcon.is-scratch { background-position: 0 0 }

@mixin tabIcon($name, $width, $x: 0, $y: -20px, $height: 20px) {
  .TabIcon.is-#{$name} {
    width: $width;
    height: $height;
    background-position: $x 0;
  }
  .is-selected > .TabLink .TabIcon.is-#{$name},
  .is-selected > .TabLink:hover .TabIcon.is-#{$name},
  .TabLink.selected .TabIcon.is-#{$name},
  .TabLink:hover .TabIcon.is-#{$name} {
    background-position: $x $y;
  }
  .TabLink.disabled .TabIcon.is-#{$name},
  .TabLink.disabled:hover .TabIcon.is-#{$name} {
    background-position: $x 0;
  }
}
.TabLink.selected .TabIcon.is-mailchimp,
.TabLink:hover .TabIcon.is-mailchimp { background-position: -65px -20px }
.TabLink.disabled .TabIcon.is-mailchimp,
.TabLink.disabled:hover .TabIcon.is-mailchimp { background-position: -65px 0 }

.TabIcon.is-arcgis {
  width: 19px;
  background-position: -83px 0;
}
.TabLink.selected .TabIcon.is-arcgis,
.TabLink:hover .TabIcon.is-arcgis { background-position: -83px -20px }
.TabLink.disabled .TabIcon.is-arcgis,
.TabLink.disabled:hover .TabIcon.is-arcgis { background-position: -83px 0 }

.TabIcon.is-twitter {
  width: 25px;
  background-position: -102px 0;
}
.TabLink.selected .TabIcon.is-twitter,
.TabLink:hover .TabIcon.is-twitter { background-position: -102px -20px }
.TabLink.disabled .TabIcon.is-twitter,
.TabLink.disabled:hover .TabIcon.is-twitter { background-position: -102px 0 }

.TabIcon.is-file {
  width: 18px;
  background-position: -127px 0;
}
.TabLink.selected .TabIcon.is-file,
.TabLink:hover .TabIcon.is-file { background-position: -127px -20px }
.TabLink.disabled .TabIcon.is-file,
.TabLink.disabled:hover .TabIcon.is-file { background-position: -127px 0 }

.TabIcon.is-instagram {
  width: 20px;
  background-position: -145px 0;
}
.TabLink.selected .TabIcon.is-instagram,
.TabLink:hover .TabIcon.is-instagram { background-position: -145px -20px }
.TabLink.disabled .TabIcon.is-instagram,
.TabLink.disabled:hover .TabIcon.is-instagram { background-position: -145px 0 }

.TabIcon.is-salesforce {
  width: 29px;
  background-position: -165px 0;
}
.TabLink.selected .TabIcon.is-salesforce,
.TabLink:hover .TabIcon.is-salesforce { background-position: -165px -20px }
.TabLink.disabled .TabIcon.is-salesforce,
.TabLink.disabled:hover .TabIcon.is-salesforce { background-position: -165px 0 }
