<li class="actions">
  <span>Actions</span>
  <span class="field double-field">
    <a href="#" class="btn btn-zIndexInc" title="Bring to Front"></a>
    <a href="#" class="btn btn-zIndexDec" title="Send to Back"></a>
  </span>
  <span class="field double-field">
    <a href="#" class="btn btn-copy" title="Duplicate"></a>
    <a href="#" class="btn btn-delete" title="Delete"></a>
  </span>
</li>
